__pycache__/
.account-checked
.DS_Store
.idea/
.terraform.lock.hcl
.terraformrc
*.tfstate
*.tfstate.*
*.tfvars
*.zip
**/.terraform/*
**/.venv/
**/tf-modules/
**/venv/
backend.plan
crash.log
terraform.rc
aws/391835788720/us-east-1/backend.tf
