# IMPORTANT:
# This file is ONLY used to subscribe for notifications for PRs
# related to a specific file path. Approvals from people in this
# file are not required for merges.

# This is a comment.
# Each line is a file pattern followed by one or more owners.

/.github/workflows/ @jeanschmidt @zxiiro
/ali/ @jeanschmidt @zxiiro
/arc/ @jeanschmidt @zxiiro
/crcr @fffrog @can-gaa-hou
/helpers/ @zxiiro @jeanschmidt
/modules/backend-state/ @jeanschmidt
/osdc/renovate.json @jeanschmidt @zxiiro @huydhn
/osdc @jeanschmidt @huydhn @zxiiro
/scripts/ @jeanschmidt @zxiiro
