__pycache__/
.account-checked
.DS_Store
.idea/
.terraform.lock.hcl
.terraformrc
*.bkp
*.tfstate
*.tfstate.*
*.tfvars
**/.terraform/*
**/.venv/
**/venv/
ARC_NODE_CONFIG.yaml
ARC_RUNNER_CONFIG.yaml
assets/lambdas-download-canary/runners.zip
assets/lambdas-download-canary/webhook.zip
assets/lambdas-download/runners.zip
assets/lambdas-download/webhook.zip
aws/*/*/backend-state.tf
aws/*/*/backend.plan
aws/*/*/backend.tf
aws/*/*/dyn_locals.tf
aws/*/*/external_k8s_cidr_ipv4.tf
aws/*/*/inventory/
aws/*/eks_users
crash.log
modules/arc/.helm-pkg-state
modules/arc/.k8s-rds-state
modules/arc/.latest-arc-dind-pytorch
modules/arc/.latest-arc-runner-pytorch
modules/arc/.terraform.lock.hcl
modules/arc/.terraform/
modules/arc/tls/
terraform.rc
tf-modules/
