apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: "rd-$(RUNNERLABEL)"
spec:
  template:
    spec:
      ephemeral: $(ISEPHEMERAL)

      labels:
        - "$(ENVRUNNERLABEL)"
        - "arch:$(RUNNERARCH)"
        - "os:$(RUNNEROS)"
        - "arc-lf"

      $(RUNNERSCOPE)

      $(RUNNERGROUP)

      env:
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name

      tolerations:
        - key: "arcRunnerNodeType-$(NODETYPE)"
          operator: Exists
          effect: NoSchedule

      imagePullPolicy: Always
      resources:
        limits:
          cpu: "$(CPU)"
          memory: "$(MEMORY)"
        requests:
          cpu: "$(CPU)"
          memory: "$(MEMORY)"

      dockerVolumeMounts:
      - mountPath: /var/lib/docker
        name: docker
        subPathExpr: $(POD_NAME)-docker

      volumeMounts:
      - mountPath: /runner/_work
        name: work
        subPathExpr: $(POD_NAME)-work
      - mountPath: /tmp
        name: tmp
        subPathExpr: $(POD_NAME)-tmp

      dockerEnv:
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name

      volumes:
      - name: docker
        emptyDir:
          sizeLimit: $(PARTDOCKER)
      - name: work
        emptyDir:
          sizeLimit: $(PARTWORK)
      - name: tmp
        emptyDir:
          sizeLimit: $(PARTTMP)
