__pycache__/
.DS_Store
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
**/.terraform/*
**/.venv/
**/venv/
tf-modules/
assets/*/*.zip
aws/backend.tf
aws/backend-state.tf
aws/dyn_locals.tf
crash.log
